/* Partie reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Mon CSS */

* {
    box-sizing: border-box;
}

body {
    background-image: url(/export/assets/fond_page_html.png);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h1,h2 {
    font-family: "Dancing Script", cursive;
    font-size: 75px;
    color: rgb(6, 89, 6);
    font-weight: bolder;
    text-shadow: 5px 5px silver;
    text-align: center;
    margin-bottom: 2rem;
}

h2{
    font-size: 50px;
    text-shadow: 0px 0px;
}

a {
    text-decoration: none;
}

.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    width: auto;
    justify-items: center;
}

.layout > div {
    background-color: rgb(66, 117, 33);
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}

.layout > div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.layout > div p{
	color: white;
}
.layout > div a{
	color: white;
}
.layout > div a:hover {
    color: lightgrey; /* Couleur du lien lorsque la souris passe dessus */
    text-decoration: underline; /* Soulignement lors du survol (facultatif) */
}

#enfant {
    grid-column: 2 / 5;
}

#parent1 {
    grid-column: 1/3;
}

#parent2 {
    grid-column: 4 / 6;
}

#grand_parent1 {
    grid-column: 1 / 2;
}

#grand_parent2 {
    grid-column: 2 / 3;
}

#grand_parent3 {
    grid-column: 4 / 5;
}

#grand_parent4 {
    grid-column: 5 / 6;
}

/*partie fratrie*/
#enfant1{
    grid-column: 3/4;
}
#fratrie {
    grid-row: 2/3;
}